.ShoppingCart {
    color: white;
    padding: 100px;
}

.Title {
    color: rgb(221, 35, 35);
    font-size: 3rem;
    letter-spacing: .5rem;
    padding: 10px 0;
}

.ShoppingCart ul {
    list-style-type: none;
}

.ShoppingCart li {
    margin-left: 10px;
    padding-bottom: 5px;
    color: rgb(243, 149, 149);
}

.ShoppingCart p {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.ShoppingCart span {
    margin-top: 10px;
    font-size: 1.4rem;
}

.ShoppingCart strong {
    color: rgb(142, 238, 142);
}

.ShoppingCart article {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(71, 71, 71);
}