.ShoppingCart {
    color: white;
    padding: 100px;
}

.Title {
    color: rgb(221, 35, 35);
    font-size: 3rem;
    letter-spacing: .5rem;
    padding: 10px 0;
}

.ShoppingCart h6 {
    font-weight: normal;
    font-size: 2rem;
}

.ShoppingCart h3 {
    font-weight: normal;
    font-size: 2rem;
    padding: 20px 0;
}

.ShoppingCart hr {
    margin-bottom: 10px;
}

.ShoppingCart ul {
    list-style-type: none;
}

.ShoppingCart li {
    margin-left: 10px;
    padding-bottom: 5px;
    color: rgb(243, 149, 149);
}

.ShoppingCart p {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.ShoppingCart span {
    margin-top: 10px;
    font-size: 1.4rem;
}

.ShoppingCart strong {
    color: rgb(142, 238, 142);
}

.ShoppingCart article {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 2px;
    background: linear-gradient(170deg, rgb(71, 71, 71), rgb(131, 131, 131));
}

.FinalTotal {
    font-size: 2rem;
    color: white;
    border-bottom: 4px double white;
    padding: 5px 0;
    margin-bottom: 10px;
}