.Order {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  color: white;
  background-color: black;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.Pizzcontainer {
  height: 100px;
  width: 100px;
}

@media (min-width: 600px) {
  .Order {
    width: 500px;
    margin: 10px;
  }
}