.BuildControls {
    width: 50%;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.Total {
    font-size: 1.8rem;
}

.sizeControl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toppingControl {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.BuildControls h4 {
    margin: 25px 0;
    font-size: 2rem;
}

@media(max-width: 942px) {
    .BuildControls {
        width: 100%;
    }
}