.SpecialtyMenu {
    padding: 100px 0 0 50px;
}

.Title {
    color: rgb(255, 117, 117);
    font-size: 3.5rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
}

.PizzaContainer {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 500px) {
    .SpecialtyMenu {
        padding: 100px 0 0 0;
    }
    .Title {
        font-size: 2.5rem;
        width: fit-content;
        margin: auto;
    }
    .PizzaContainer {
        justify-content: center;
    }
}