.PizzaContainer {
    height: 600px;
    width: 600px;
    margin: auto;
}

.Title {
    padding-top: 100px;
    color: rgb(255, 117, 117);
    width: fit-content;
    margin: auto;
    letter-spacing: .5rem;
}

.PizzaBuilderContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

@media(max-width: 1400px) {
    .PizzaContainer {
        width: 500px;
        height: 500px;
        margin-bottom: 30px;
    }
}

@media(max-width: 500px) {
    .PizzaContainer {
        width: 300px;
        height: 300px;
    }
    .Title {
        padding-top: 70px;
    }
}