.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(27, 27, 27, 0.74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  font-size: 1.6rem;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 85%;
  position: relative;
  text-align: center;
}

.Logo h1 {
  position: absolute;
  top: 3px;
  left: 60px;
  color: rgb(255, 228, 228);
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.3rem;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
  .Logo h1 {
    left: -130px;
  }
}
