.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 15px 25px;
    font-size: 1.4rem;
    border-radius: 2px;
}

.Red:hover {
    background-color: rgb(187, 28, 0);
}

.Red {
    background-color: rgb(160, 24, 0);
    letter-spacing: 0.4rem;
}

.Success {
    color: #5C9210;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #5C9210;
    margin-right: 5px;
    transition: all 200ms ease;
}

.Success:hover {
    background-color: #5C9210;
    color: rgb(223, 223, 223);
    border: 2px solid rgb(223, 223, 223);
    box-shadow: 0 0 10px #5C9210;
}

.Primary {
    color: rgb(16, 72, 146);
    padding: 10px;
    font-weight: bold;
    border: 2px solid rgb(16, 72, 146);
    margin-right: 5px;
    transition: all 200ms ease;
}

.Primary:hover {
    background-color: rgb(16, 72, 146);
    color: rgb(207, 207, 207);
    border: 2px solid rgb(207, 207, 207);
    box-shadow: 0 0 10px rgb(16, 72, 146);
}

.Danger {
    color: #944317;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #944317;
    margin-right: 5px;
    transition: all 200ms ease;
}

.Danger:hover {
    background-color: #944317;
    color: rgb(207, 207, 207);
    border: 2px solid rgb(207, 207, 207);
    box-shadow: 0 0 10px #944317;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Yellow {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #6b6b6b;
    color: #414141;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #5f5f5f;
    transition: all 250ms ease;
}

.Yellow:hover, .Yellow:active {
    background-color: rgb(187, 185, 47);
    border: 1px solid #3f3f3f;
    color: #292929;
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}