.Footer {
  width: 100%;
  color: white;
  background-color: rgb(32, 32, 32);
  padding: 40px 0;
}

.Footer > * {
  margin: 20px 0;
  width: 75%;
  margin: auto;
}

.FooterTop {
  display: flex;
  justify-content: space-between;
}

.Sub {
  display: flex;
}

.Sub > * {
  margin-right: 40px;
}

.SocialLinks {
  margin-top: 15px;
}

.Menu h4,
.Account h4 {
  list-style: none;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.Menu ul,
.Account ul {
  list-style: none;
  margin: 5px 0;
  font-size: 1.4rem;
}

.Menu li,
.Account li {
  padding: 5px 0;
}

.Menu li > *,
.Account li > * {
  color: white;
  text-decoration: none;
}

.Menu li > *:hover,
.Account li > *:hover {
  color: rgb(223, 0, 0);
}

.LogoContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.Logo {
  position: relative;
  height: 150px;
}

.Logo h1 {
  position: absolute;
  top: 3px;
  left: 5px;
  color: rgb(255, 228, 228);
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.3rem;
}

.AppsContainer {
  padding: 40px 0;
}

.Apps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.Apps div {
  display: flex;
  align-items: center;
}

.Apps ul li {
  display: inline-block;
  margin-right: 3px;
  font-size: 1.2rem;
}

.Apps ul li a {
  color: inherit;
  text-decoration: none;
}

.Apps ul li a:hover {
  color: rgb(223, 0, 0);
}

.Apps h5 {
  font-size: 1.6rem;
  margin-right: 10px;
}

.Icon {
  font-size: 3rem;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(223, 0, 0);
  transition: color 250ms ease;
}

.Icon:hover {
  color: white;
}

.MySite {
  text-align: end;
}

.SiteLink {
  color: rgb(223, 0, 0);
  text-decoration: none;
}

.SiteLink:hover {
  color: white;
}
