.OrderSummaryTitle {
    font-size: 1.8rem;
    border-bottom: 4px double rgb(37, 37, 37);
    margin-bottom: 10px;
}

.OrderSummary ul {
    list-style-type: none;
}

.OrderSummary li {
    margin-left: 10px;
}

.OrderSummary p {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.Checkout {
    margin-top: 10px;
    font-size: 1.4rem;
}