.Landing {
  background-color: black;
  height: 10000px;
}

.Container {
  background: linear-gradient(rgb(0, 0, 41), rgb(102, 45, 23));
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.CityLineTitle {
  font-family: "Dosis", sans-serif;
  color: white;
  font-size: 7rem;
  width: 100%;
  text-align: center;
  letter-spacing: 0.3rem;
  font-weight: normal;
  position: absolute;
  top: 60%;
  z-index: 20;
}

.OrderBtnContainer {
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: center;
}

.OrderBtn {
  position: absolute;
  top: 150%;
  color: white;
  z-index: 20;
  text-decoration: none;
  background-color: rgb(160, 24, 0);
  padding: 15px 25px;
  font-size: 1.4rem;
  border-radius: 2px;
  letter-spacing: 0.4rem;
  cursor: pointer;
  outline: none;
}

.OrderBtn:hover {
  background-color: rgb(187, 28, 0);
}

.CityLineImg {
  width: 100%;
  position: absolute;
  bottom: -15%;
  z-index: 10;
}

.Pizza {
  position: absolute;
  height: 200px;
  bottom: 70px;
  right: 15%;
}

@media (max-width: 500px) {
  .Container {
    height: 70vh;
  }

  .CityLineTitle {
    font-size: 4.5rem;
    top: 50%;
  }

  .OrderBtn {
    padding: 13px 20px;
    font-size: 1.2rem;
    top: 180%;
  }

  .CityLineImg {
    bottom: -1%;
  }

  .Pizza {
    height: 70px;
    bottom: 40px;
  }
}
