.Auth {
    margin: 70px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px rgb(129, 129, 129);
    border: 1px solid rgb(56, 56, 56);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(49, 49, 49);
}

.Input {
    display: block;
    margin: auto;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}